.body_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #231319b4, #3c1353c7);
}

.body_title{
    height: 20%;
    justify-content: center;
    border: solid blue 5px;
    align-items: center;
}

.body_card{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    border: solid pink 5px;
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 1rem;
}